h1 {
    position: relative;
    margin: auto;
    width: auto;
    border: solid gray;
    margin-top: 20px;
}

table {
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    border: solid black 2px;
}

tr, td {
    position: relative;
    border-radius: 2px;
    border: solid black 2px;
    width: 300px;
    height: auto;
}

#intro {
    position: relative;
    margin-top: 20px;
    margin: auto;
    width: auto;
    border: solid gray;
}

#bilde {
    position: absolute;
    height: auto;
    margin-left: 10px;
}