table, td, tr {
    position: relative;
    margin: 30px;
}

table {
    border-radius: 5px;
    border: solid black 2px;
}

td {
    border-radius: 5px;
    border: solid gray 2px;
    margin: 10px;
}

tr {
    border-radius: 5px;
    border: solid red 2px;
}